.listPrice{
  display: none;
}

.sellingPriceValue--summary{
  font-family: "NotoSans Bold";
  font-size: 1.375rem !important;
  font-weight: 700 !important;
  color: #E21836 !important;
}

.installments--summary{
  font-family: "NotoSans Bold";
  font-size: 1rem !important;
  font-weight: 700;
  text-transform: lowercase;
  color: #000 !important;
  text-align: center;
  padding-bottom: 0.688rem;
  border-bottom: 1px solid #000;
}

.currencyCode--summary{
  text-transform: uppercase;
}

.savings--summary{
  display: none !important;
}