:global(.vtex-button__label){
  padding: 0 !important;
}

.minicartWrapperContainer{
  width: 19px;
  height: 37px;
  position: relative;
  top: 10px;
}

.minicartIconContainer{
  width: 19px;
  height: 37px;
  left: -4px;
}

.openIconContainer{
  padding: 0 !important;
}

.cartIcon{
  overflow: unset !important;
  width: 19px;
  height: 37px;
  position: relative;
  top: 10px;
}

:global(.vtex-minicart-2-x-cartIcon){
  width: 19px;
  height: 37px;
  position: relative;
  top: -13px;
}