.logoImage{
  display: block;
}

.searchBarContainer{
  width: 350px;  
}
.sizeDesktop{
  max-width: none;
  max-height: none;
  min-width: unset !important;
  padding: 0px;
}

:global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #8B8B8B;
  font-size: 0.761rem !important;
}