.logoImage{
  display: block;
}

.searchIcon{
  width: 22px;
  height: 17px;
  overflow: unset !important;
}

.searchBarContainer{
  width: 350px;
}

:global(.vtex-styleguide-9-x-input){
  padding: 0;
}

:global(.vtex-input-prefix__group){
  border-radius: 20px;
  flex-direction: row-reverse;
  height: 42px !important;
}

:global(.vtex-input__suffix){
  padding: 0 2px 0 15px;
}

.sizeDesktop{
  max-width: none;
  max-height: none;
  min-width: unset !important;
  padding: 0px;
}

:global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #8B8B8B;
  font-size: 0.761rem !important;
}

