@font-face {
  font-family: 'NotoSans Regular';
  src: url(assets/fonts/NotoSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSans Medium';
  src: url(assets/fonts/NotoSans-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSans Bold';
  src: url(assets/fonts/NotoSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Birthstone';
  src: url(assets/fonts/Birthstone-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Unna';
  src: url(assets/fonts/Unna-Regular.ttf);
  font-weight: 400;
}